.content {
  padding: 20px 10%;
}

mat-list {
  padding: 0px;
}
.mat-list-item {
  border: 1px solid rgba(0,0,0,.12)
}

::ng-deep .mat-list-base .mat-list-item .mat-list-item-content {
  padding: 0 0px 0 16px !important;
}

.spacer {
  flex: 1 1 auto;
}
.status {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100px;

  .ok {
    background-color: #4b7;
  }

  .warning {
    background-color: #fa5;
  }

  .error {
    background-color: #f56;
  }
}
